.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    
}

.header h1{
    text-transform: capitalize;
    margin-left: 10px;
}

